container_commands:
  01-composer-install:
    command: "cd /var/app/staging && composer install --no-dev --optimize-autoloader --no-interaction --prefer-dist"
    ignoreErrors: false

  02-storage-permissions:
    command: "cd /var/app/staging && chmod -R 775 storage bootstrap/cache && chown -R webapp:webapp storage bootstrap/cache"
    ignoreErrors: false

  03-storage-link:
    command: "cd /var/app/staging && php artisan storage:link --force"
    ignoreErrors: true

  04-migrate:
    command: "cd /var/app/staging && php artisan migrate --force"
    ignoreErrors: false

  05-config-cache:
    command: "cd /var/app/staging && php artisan config:cache"
    ignoreErrors: true

  06-route-cache:
    command: "cd /var/app/staging && php artisan route:cache"
    ignoreErrors: true

  07-view-cache:
    command: "cd /var/app/staging && php artisan view:cache"
    ignoreErrors: true
