files:
  "/etc/supervisord.d/laravel-queue.conf":
    mode: "000644"
    owner: "root"
    group: "root"
    content: |
      [program:laravel-queue]
      process_name=%(program_name)s_%(process_num)02d
      command=php /var/app/current/artisan queue:work --tries=3 --timeout=0 --no-interaction
      autostart=true
      autorestart=true
      numprocs=1
      user=webapp
      redirect_stderr=true
      stdout_logfile=/var/log/laravel-queue.log
      stdout_logfile_maxbytes=10MB
